.container{
    background-color: hwb(255 89% 7%);
    border: 3px solid rgb(64, 6, 119);
    padding: 34px 19px;  /* y(top and bottom) and x(left and right)padding*/
    margin: 14px 500px; /* y(top and bottom) and x(left and right) margin*/
    border-radius: 23px;
    width: 533px;
    
}

*{
    box-sizing: border-box;
}

body{
    background-color: #bac2e8;
}